# vs code settings
.vscode/

# database config file
# docker-compose.yml

# ssl key files
app/docker/nginx/cert.pem
app/docker/nginx/key.pem

# testing files
TESTING.md

# claude files
CLAUDE.md
.claude.planning/intel/

# Coverage reports
coverage/
