# database config file
config.yml
# R files
.Rhistory

# Ignore the results directory in api folder
results/*.json
results/ontology/*.csv

# Ignore the files in the data directory in api folder but not subdirectories
data/*.gz
data/*.txt
data/*.csv
data/*.obo

# Ignore the log files in logs directory in api folder
logs/*.log

# ignore the development start script
*_development.R